$cardColour: #dfe2e6;
$lightFont: #dfe2e6;
$darkFont: #26282b;
$darkRed: #590505;
$buttonColour: #a80a0a;
$buttonHover: #f00404;

html {
    font-size: 16px;
}

h1 {
    font-family: 'Italiana', serif;
    font-weight: 400;
    font-size: 5.0rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: $lightFont;
    text-shadow: 2px -2px 5px #fad947;
    padding: 0.8rem;
    margin-top: 1rem;
    background-color: $darkRed;
    border-radius: 0.85rem;
    border: #fad947 4px solid;
    box-shadow: 10px 10px 15px #fad947;
    

}

h2 {
    font-family: 'Italiana', serif;
    font-weight: 400;
    font-size: 3.0rem;
    letter-spacing: 0.1rem;
    color: $lightFont;
    text-align: center;
    text-shadow: 1px -1px 5px #fad947;
    padding: 1rem;
    background-color: $darkFont;
    border-radius: 0.85rem;
    border: #fad947 4px solid;
    box-shadow: 2px 2px 30px #fad947;
    
}

h3 {
    font-family: 'Italiana', serif;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    color: $lightFont;
    text-align: center;
    padding:0;
    margin: 0.8rem 0 0 0;
}

p {
    font-family: 'Josefin Slab', serif;
    font-weight: 500;
    font-size: 1.0rem;
    letter-spacing: 0.05rem;
    color: $lightFont;
    padding:0;
}

button {
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.07rem;
    text-shadow: 0px -1px 5px #fad947;
    padding: 1.2rem;
    color:#dfe2e6;
    background-color: $buttonColour;
    box-shadow: -25px 25px 30px black;
    border:3px solid $darkRed;
    border-radius: 0.35rem;
    transition: 0.4s;
}
button:hover {
    background-color:  $buttonHover;
    box-shadow: -6px 6px 15px black;
}
.randomMovieDisplay {
    justify-content: center;
    align-items: center;
    z-index: 4;
}
.grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 370px 370px;
    row-gap: 2%;
    margin-top: -580px;
}

.cardStyling {
    width: 90%;
    height: 370px;
    background-color: $darkFont;
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 0.35rem;
    border: 4px solid #fad947;
    box-shadow: 2px 2px 30px #fad947;
    position:relative;
}

.imageCardStyling {
    width: 150px;
}


.buttonStyling {
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.07rem;
    text-shadow: 0px -1px 5px #fad947;
    padding: 1.2rem;
    margin-top: 30px;
    color:#dfe2e6;
    background-color: $buttonColour;
    box-shadow: -25px 25px 30px black;
    border:3px solid $darkRed;
    border-radius: 0.35rem;
    transition: 0.4s;
}

.buttonStyling:hover {
    background-color:  $buttonHover;
    box-shadow: -6px 6px 15px black;
}

.specificMovieInfo {
    position: relative;
}

.popUpCard {
    width: 30%;
    height: 750px;
    background-color: $darkRed;
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 0.35rem;
    border: 3px solid black;
    box-shadow: -25px 25px 30px black;
    display: block;
    position:absolute;
    bottom:100px;
    left:35%;
    z-index:5;
    overflow-y: scroll;
}

.imagePopUpCard {
    width: 200px;
}

.flex {
    display:flex;
}

.flexColumn {
    flex-direction: column;
}

.alignItemsCenter {
    align-items: center;
}
