@import 'normalization';
@import 'generalStyles';

body {
    background-color: #590505 ;
    background-image: url(../images/backgroundCurtain.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position:relative;
    overflow-x: hidden;
}

.mainWrapper {
    margin-left: 23%;
    margin-right: 23%;
}

.textContainer {
    position: relative;
    z-index: 2;
}

.curtain {
    height: 100vh;
    position:absolute;
    width: 50%;
    top: -8vh;

    img {
        height:100%;
        width: 100%;
    }
}

.leftCurtain{
    left:0vw;
}
.rightCurtain {
    right:0vw;
}

// For fading out the h2 & button
.fadeOut {
    opacity: 0;
    animation-name: fadeOut;
	animation-timing-function: ease-out;
	animation-duration: 1.5s;
    transition: transform 1.5s;
    transform: translateY(-500px);  
}

@keyframes fadeOut {
    0% {
		opacity: 1;
	}
    100% {
		opacity: 0; 
	}
}

.randomMovieDisplay {
    margin-top: 20vh;
}

.hidden {
    visibility: hidden;
}

.zeroOpacity {
    opacity: 0;
    font-size: 0.0001rem;
    margin:0;
    padding:0;
}

.watchList {
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 0;
    background-color: #26282b90;
    border: #fad947 4px solid;
    box-shadow: -5px -5px 15px #fad947;
    width: 22%;
    height: auto;

    img {
        width: 90%;
        margin-left: 5%;
    }
    p{
        text-align: center;
        margin-bottom: -1vh;
    }
    .watchListContainer {
        position: absolute;
        bottom: 26vh;
        right: 0;
        div {
            flex-wrap: wrap;
            height: 13vh;
            width: 40vh;
            background-color:#26282b90;
    
            img {
                width: 3vw;
            }
    
            h3 {
                font-size: 1rem;
            }
        }
    }
}

.fadeIn {
    opacity: 1;
    animation-name: fadeIn;
	animation-timing-function: cubic-bezier(.92,.29,.74,.13);
	animation-duration: 3s;
}

@keyframes fadeIn {
    0% {
		opacity: 0;
	}
    100% {
		opacity: 1; 
	}
}

//The plus button for movie cards
.buttonAddToWatchList {
    display: none;
    position:absolute;
    top:0;
    right: 0;
}


//For stylying other elements, the below sections are temporary hidden
.specificMovieInfo {
    display:none;
}
