@import 'normalization';
@import 'generalStyles';

body {
    background-color: #590505 ;
    background-image: url(../images/backgroundCurtain.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position:relative;
}

.mainWrapper {
    margin-left: 23%;
    margin-right: 23%;
}

.textContainer {
    margin-top: 2.5rem;
    position: relative;
    z-index: 2;
}

.curtain {
    height: 100vh;
    position:absolute;
    width: 50%;
    top: -8vh;

    img {
        height:100%;
        width: 100%;
    }
}

.leftCurtain{
    left:0vw;
}
.rightCurtain {
    right:0vw;
}

// For fading out the h2 & button
.fadeOut {
    opacity: 0;
    animation-name: fadeOut;
	animation-timing-function: ease-out;
	animation-duration: 1s;
}

@keyframes fadeOut {
    0% {
		opacity: 1;
	}
    100% {
		opacity: 0; visibility: hidden;
	}
}


// For stylying other elements, the below sections are temporary hidden
.randomMovieDisplay,
.specificMovieInfo {
    display:none;
}
