html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 16px;
}

h1 {
  font-family: 'Italiana', serif;
  font-weight: 400;
  font-size: 5.0rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #dfe2e6;
  text-shadow: 2px -2px 5px #fad947;
  padding: 0.8rem;
  margin: 1rem auto;
  background-color: #590505;
  border-radius: 0.85rem;
  border: #fad947 4px solid;
  -webkit-box-shadow: 10px 10px 15px #fad947;
          box-shadow: 10px 10px 15px #fad947;
}

h2 {
  font-family: 'Italiana', serif;
  font-weight: 400;
  font-size: 3.0rem;
  letter-spacing: 0.1rem;
  color: #dfe2e6;
  text-align: center;
  text-shadow: 1px -1px 5px #fad947;
  padding: 1rem;
  background-color: #26282b;
  border-radius: 0.85rem;
  border: #fad947 4px solid;
  -webkit-box-shadow: 2px 2px 30px #fad947;
          box-shadow: 2px 2px 30px #fad947;
}

h3 {
  font-family: 'Italiana', serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: #dfe2e6;
  text-align: center;
  padding: 0;
  margin: 0.8rem 0 0 0;
}

p {
  font-family: 'Josefin Slab', serif;
  font-weight: 500;
  font-size: 1.0rem;
  letter-spacing: 0.05rem;
  color: #dfe2e6;
  padding: 0;
}

button {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.07rem;
  text-shadow: 0px -1px 5px #fad947;
  padding: 1.2rem;
  color: #dfe2e6;
  background-color: #a80a0a;
  -webkit-box-shadow: -25px 25px 30px black;
          box-shadow: -25px 25px 30px black;
  border: 3px solid #590505;
  border-radius: 0.35rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

button:hover {
  background-color: #f00404;
  -webkit-box-shadow: -6px 6px 15px black;
          box-shadow: -6px 6px 15px black;
}

.randomMovieDisplay {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
  -ms-grid-rows: 370px 370px;
      grid-template-rows: 370px 370px;
  row-gap: 2%;
  margin-top: -580px;
}

.cardStyling {
  width: 90%;
  height: 370px;
  background-color: #26282b;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border-radius: 0.35rem;
  border: 4px solid #fad947;
  -webkit-box-shadow: 2px 2px 30px #fad947;
          box-shadow: 2px 2px 30px #fad947;
  position: relative;
}

.imageCardStyling {
  width: 150px;
}

.buttonStyling {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.07rem;
  text-shadow: 0px -1px 5px #fad947;
  padding: 1.2rem;
  margin-top: 30px;
  color: #dfe2e6;
  background-color: #a80a0a;
  -webkit-box-shadow: -25px 25px 30px black;
          box-shadow: -25px 25px 30px black;
  border: 3px solid #590505;
  border-radius: 0.35rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.buttonStyling:hover {
  background-color: #f00404;
  -webkit-box-shadow: -6px 6px 15px black;
          box-shadow: -6px 6px 15px black;
}

.specificMovieInfo {
  position: relative;
}

.popUpCard {
  width: 30%;
  height: 750px;
  background-color: #590505;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border-radius: 0.35rem;
  border: 3px solid black;
  -webkit-box-shadow: -25px 25px 30px black;
          box-shadow: -25px 25px 30px black;
  display: block;
  position: absolute;
  bottom: 100px;
  left: 35%;
  z-index: 5;
  overflow-y: scroll;
}

.imagePopUpCard {
  width: 200px;
}

#selectedCloseButton {
  margin-top: 5%;
}

footer {
  position: absolute;
  bottom: 1vh;
  width: 100%;
}

footer p {
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 0 1vw;
  text-align: center;
}

footer p a {
  color: #dfe2e6;
  text-decoration: none;
  text-shadow: 2px -2px 5px #fad947;
}

footer p a:hover {
  border-bottom: 2px solid #fffbec;
  text-shadow: 2px -2px 5px black;
}

footer p i {
  font-size: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexColumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.alignItemsCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: #590505;
  background-image: url(../images/backgroundCurtain.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  height: 110vh;
  position: relative;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
  color: #26282b00;
}

.mainWrapper {
  margin-left: 23%;
  margin-right: 23%;
}

.textContainer {
  position: relative;
  top: 10vh;
  z-index: 2;
}

.curtain {
  height: 100vh;
  position: absolute;
  width: 50%;
  top: -8vh;
}

.curtain img {
  height: 100%;
  width: 100%;
}

.leftCurtain {
  left: 0vw;
}

.rightCurtain {
  right: 0vw;
}

.leftCurtainTransition {
  left: -30vw;
  -webkit-transition: left 3s;
  transition: left 3s;
  border: black 4px solid;
  -webkit-box-shadow: 40px 40px 55px black;
          box-shadow: 40px 40px 55px black;
}

.rightCurtainTransition {
  right: -30vw;
  -webkit-transition: right 3s;
  transition: right 3s;
  border: black 4px solid;
  -webkit-box-shadow: -40px 40px 55px black;
          box-shadow: -40px 40px 55px black;
}

.fadeOut {
  opacity: 0;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
  -webkit-transform: translateY(-700px);
          transform: translateY(-700px);
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.randomMovieDisplay {
  margin-top: 20vh;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.zeroOpacity {
  opacity: 0;
  font-size: 0.0001rem;
  margin: 0;
  padding: 0;
}

.watchListWrapper {
  position: relative;
}

.watchList {
  position: absolute;
  z-index: 3;
  top: 1vh;
  right: 0;
  background-color: #26282b90;
  border: #fad947 4px solid;
  -webkit-box-shadow: -5px -5px 15px #fad947;
          box-shadow: -5px -5px 15px #fad947;
  width: 22%;
  height: auto;
}

.watchList img {
  width: 90%;
  margin-left: 5%;
}

.watchList p {
  text-align: center;
  margin-bottom: -1vh;
}

.watchList .watchListContainer {
  position: absolute;
  top: 30vh;
  right: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cardInWatchList {
  border: #fad947 4px solid;
  -webkit-box-shadow: -5px -5px 15px #fad947;
          box-shadow: -5px -5px 15px #fad947;
  background-color: #26282b90;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 13vh;
  width: 20vw;
  margin: 1%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardInWatchList img {
  width: 4vw;
}

.cardInWatchList h3 {
  font-size: 1rem;
  margin-top: 0;
  width: calc(100% - 4vw);
}

.fadeIn {
  opacity: 1;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-timing-function: cubic-bezier(0.92, 0.29, 0.74, 0.13);
          animation-timing-function: cubic-bezier(0.92, 0.29, 0.74, 0.13);
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttonAddToWatchList,
.buttonRemoveFromWatchList {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #a80a0a99;
}

.cardInWatchList {
  position: relative;
}

.specificMovieInfo {
  display: none;
}

@media only screen and (max-width: 1550px) {
  .watchList {
    width: 18%;
  }
  .grid {
    margin-top: -640px;
  }
  .leftCurtainTransition {
    left: -35vw;
  }
  .rightCurtainTransition {
    right: -35vw;
  }
  .watchList .watchListContainer {
    top: 22vh;
  }
  .cardInWatchList {
    width: 17vw;
    height: 11vh;
  }
  .cardInWatchList img {
    margin-left: 1%;
  }
  .popUpCard {
    width: 40%;
    height: 650px;
    left: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 1350px) {
  .grid {
    -ms-grid-columns: 250px 250px 250px;
        grid-template-columns: 250px 250px 250px;
  }
  .imageCardStyling {
    width: 130px;
  }
}

@media only screen and (max-width: 1280px) {
  .grid {
    margin-top: -718px;
  }
  .cardStyling {
    height: 340px;
  }
}

@media only screen and (max-width: 1150px) {
  .grid {
    -ms-grid-columns: 250px 250px;
        grid-template-columns: 250px 250px;
    -ms-grid-rows: 370px 370px 410px;
        grid-template-rows: 370px 370px 410px;
  }
  .imageCardStyling {
    width: 120px;
  }
  body {
    height: 170vh;
  }
  .curtain {
    height: 170vh;
  }
  .watchList {
    width: 24%;
  }
  .cardInWatchList {
    width: 23vw;
    height: 10vh;
  }
  .cardInWatchList img {
    display: none;
  }
  .popUpCard {
    width: 50%;
    position: fixed;
    top: 25vh;
    left: calc(50vw - 25%);
  }
  .randomMovieDisplay {
    margin-top: 10vh;
  }
}

@media only screen and (max-width: 1024px) {
  header {
    margin-top: 20vh;
  }
  h1 {
    font-size: 3.8rem;
    padding: 1.0rem;
  }
  h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 950px) {
  .watchList {
    width: 22%;
  }
  .cardInWatchList {
    width: 20vw;
    height: 12vh;
  }
}

@media only screen and (max-width: 850px) {
  header {
    margin-top: 25vh;
  }
  h1 {
    font-size: 3rem;
    padding: 0.8rem;
  }
  h2 {
    font-size: 2rem;
  }
  .watchList {
    width: 20%;
  }
  .cardInWatchList {
    width: 18vw;
    height: 14vh;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
    padding: 0.5rem;
  }
  h2 {
    font-size: 2.0rem;
  }
  button {
    font-size: 1.0rem;
  }
  .grid {
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
    -ms-grid-rows: 370px 370px 370px 410px;
        grid-template-rows: 370px 370px 370px 410px;
    margin-top: -620px;
  }
  .imageCardStyling {
    width: 150px;
  }
  .buttonStyling {
    margin-top: 249px;
  }
  .watchListWrapper {
    position: static;
  }
  .watchList {
    position: relative;
    top: 5vh;
    left: 7.5%;
    width: 85%;
  }
  .watchList p {
    display: none;
  }
  .watchList .watchListContainer {
    position: relative;
    top: 0;
    right: 0;
  }
  .cardInWatchList {
    border: #26282b 2px solid;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #26282b90;
    height: 10vh;
    width: 98%;
    margin: 1%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cardInWatchList p {
    display: none;
  }
  .popUpCard {
    top: 20vh;
  }
  .cardStyling {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  header {
    margin-top: 20vh;
  }
  h1 {
    font-size: 2rem;
    padding: 0.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .grid {
    margin-top: -950px;
  }
}

@media only screen and (max-width: 500px) {
  header {
    margin-top: 10vh;
  }
  h1 {
    padding: 0.3rem 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  button {
    font-size: 0.9rem;
  }
  .grid {
    margin-top: -1000px;
  }
  .curtain {
    display: none;
  }
  .popUpCard {
    top: 10vh;
  }
}

@media only screen and (max-width: 450px) {
  .popUpCard {
    width: 80%;
    left: 10%;
  }
}

@media only screen and (max-width: 380px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    padding: 0.3rem 1rem;
  }
  .grid {
    margin-left: 20px;
    -ms-grid-columns: 280px;
        grid-template-columns: 280px;
    margin-top: -1050px;
  }
}

@media only screen and (max-width: 768px) and (max-height: 1100px) {
  body {
    height: 300vh;
  }
}

@media only screen and (max-width: 768px) and (max-height: 950px) {
  body {
    height: 300vh;
  }
}

@media only screen and (max-width: 768px) and (max-height: 850px) {
  body {
    height: 320vh;
  }
  .grid {
    margin-top: -700px;
  }
}

@media only screen and (max-width: 768px) and (max-height: 760px) {
  body {
    height: 360vh;
  }
  .grid {
    margin-top: -600px;
  }
  .watchList {
    top: 10vh;
  }
}

@media only screen and (max-width: 500px) and (max-height: 650px) {
  body {
    height: 450vh;
  }
  .grid {
    margin-top: -200px;
  }
}

@media only screen and (max-width: 420px) and (max-height: 825px) {
  body {
    height: 410vh;
  }
}

@media only screen and (max-width: 420px) and (max-height: 750px) {
  body {
    height: 470vh;
  }
}

@media only screen and (max-width: 380px) and (max-height: 820px) {
  body {
    height: 400vh;
  }
  .grid {
    margin-top: -600px;
  }
}

@media only screen and (max-width: 380px) and (max-height: 670px) {
  body {
    height: 500vh;
  }
  .grid {
    margin-top: -550px;
  }
}

@media only screen and (max-width: 350px) and (max-height: 570px) {
  body {
    height: 600vh;
  }
}

@media only screen and (min-width: 1800px) and (max-height: 800px) {
  body {
    height: 120vh;
  }
  .grid {
    margin-top: -500px;
  }
}
