html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 16px;
}

h1 {
  font-family: "Italiana", serif;
  font-weight: 400;
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #dfe2e6;
  text-shadow: 2px -2px 5px #fad947;
  padding: 0.8rem;
  margin-top: 1rem;
  background-color: #590505;
  border-radius: 0.85rem;
  border: #fad947 4px solid;
  -webkit-box-shadow: 10px 10px 15px #fad947;
          box-shadow: 10px 10px 15px #fad947;
}

h2 {
  font-family: "Italiana", serif;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: #dfe2e6;
  text-align: center;
  text-shadow: 1px -1px 5px #fad947;
  padding: 1rem;
  background-color: #26282b;
  border-radius: 0.85rem;
  border: #fad947 4px solid;
  -webkit-box-shadow: 2px 2px 30px #fad947;
          box-shadow: 2px 2px 30px #fad947;
}

h3 {
  font-family: "Italiana", serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: #dfe2e6;
  text-align: center;
  padding: 0;
  margin: 0.8rem 0 0 0;
}

p {
  font-family: "Josefin Slab", serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  color: #dfe2e6;
  padding: 0;
}

button {
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.07rem;
  text-shadow: 0px -1px 5px #fad947;
  padding: 1.2rem;
  color: #dfe2e6;
  background-color: #a80a0a;
  -webkit-box-shadow: -25px 25px 30px black;
          box-shadow: -25px 25px 30px black;
  border: 3px solid #590505;
  border-radius: 0.35rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

button:hover {
  background-color: #f00404;
  -webkit-box-shadow: -6px 6px 15px black;
          box-shadow: -6px 6px 15px black;
}

.randomMovieDisplay {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 370px 370px;
  row-gap: 2%;
  margin-top: -280px;
}

.cardStyling {
  width: 90%;
  height: 370px;
  background-color: #26282b;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border-radius: 0.35rem;
  border: 4px solid #fad947;
  -webkit-box-shadow: 2px 2px 30px #fad947;
          box-shadow: 2px 2px 30px #fad947;
}

.imageCardStyling {
  width: 150px;
}

.buttonStyling {
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.07rem;
  text-shadow: 0px -1px 5px #fad947;
  padding: 1.2rem;
  margin-top: 30px;
  color: #dfe2e6;
  background-color: #a80a0a;
  -webkit-box-shadow: -25px 25px 30px black;
          box-shadow: -25px 25px 30px black;
  border: 3px solid #590505;
  border-radius: 0.35rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.buttonStyling:hover {
  background-color: #f00404;
  -webkit-box-shadow: -6px 6px 15px black;
          box-shadow: -6px 6px 15px black;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexColumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.alignItemsCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: #590505;
  background-image: url(../images/backgroundCurtain.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.mainWrapper {
  margin-left: 23%;
  margin-right: 23%;
}

.textContainer {
  position: relative;
  z-index: 2;
}

.curtain {
  height: 100vh;
  position: absolute;
  width: 50%;
  top: -8vh;
}
.curtain img {
  height: 100%;
  width: 100%;
}

.leftCurtain {
  left: 0vw;
}

.rightCurtain {
  right: 0vw;
}

.fadeOut {
  opacity: 0;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.randomMovieDisplay {
  margin-top: 20vh;
}

.watchList {
  bottom: 0;
  right: 10vw;
  opacity: 0;
  position: absolute;
  z-index: 3;
}
.watchList img {
  width: 10vw;
}

.fadeIn {
  opacity: 1;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-timing-function: cubic-bezier(0.92, 0.29, 0.74, 0.13);
          animation-timing-function: cubic-bezier(0.92, 0.29, 0.74, 0.13);
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.watchListContainer {
  position: absolute;
  bottom: 25vh;
  right: 0;
}

.watchListContainer div {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 13vh;
  width: 40vh;
}

.watchListContainer div img {
  width: 3vw;
}

.watchListContainer div h3 {
  font-size: 1rem;
}

.specificMovieInfo {
  display: none;
}